**Análise e exploração dos Dados**

link da base de dados:

https://www.kaggle.com/datasets/rikdifos/credit-card-approval-prediction

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy
from sklearn import preprocessing

In [ ]:
# dados é um DataFrame
# df_combustiveis = pd.read_csv("/content/ca-2004-01.csv",sep=";")

In [2]:
# Links dos arquivos CSV
cadastrados = pd.read_csv('https://raw.githubusercontent.com/SandraRojasZ/DataScience/refs/heads/main/bases/clientes_cadastrados.csv')

In [4]:
cadastrados.head()

,ID_Cliente,Genero,Tem_carro,Tem_casa_propria,Qtd_filhos,Rendimento_anual,Categoria_de_renda,Grau_escolaridade,Estado_civil,Moradia,Idade,Anos_empregado,Tem_celular,Tem_telefone_trabalho,Tem_telefone_fixo,Tem_email,Ocupacao,Tamanho_familia
0,5008804,M,Y,Y,0,427500.0,Empregado,Ensino superior,União-estável,Apartamento alugado,-12005,-4542,1,1,0,0,NaN,2.0
1,5008805,M,Y,Y,0,427500.0,Empregado,Ensino superior,União-estável,Apartamento alugado,-12005,-4542,1,1,0,0,NaN,2.0
2,5008806,M,Y,Y,0,112500.0,Empregado,Ensino médio,Casado,Casa/apartamento próprio,-21474,-1134,1,0,0,0,Segurança,2.0
3,5008808,F,N,Y,0,270000.0,Associado comercial,Ensino médio,Solteiro,Casa/apartamento próprio,-19110,-3051,1,0,1,1,Vendas,1.0
4,5008809,F,N,Y,0,270000.0,Associado comercial,Ensino médio,Solteiro,Casa/apartamento próprio,-19110,-3051,1,0,1,1,Vendas,1.0

In [6]:
cadastrados.shape

(438557, 18)

In [7]:
cadastrados.isnull().sum()

ID_Cliente                    0
Genero                        0
Tem_carro                     0
Tem_casa_propria              0
Qtd_filhos                    0
Rendimento_anual              0
Categoria_de_renda            0
Grau_escolaridade             0
Estado_civil                  0
Moradia                       0
Idade                         0
Anos_empregado                0
Tem_celular                   0
Tem_telefone_trabalho         0
Tem_telefone_fixo             0
Tem_email                     0
Ocupacao                 134203
Tamanho_familia               0
dtype: int64

In [11]:
duplicados_id = cadastrados['ID_Cliente'].duplicated
duplicados_id.first

AttributeError: 'function' object has no attribute 'first'

In [ ]:
cadastrados['ID_Cliente'].value_counts()